<div class="card text-dark">
  <div class="card-header">
    <h3 class="card-title">About Notes App</h3>
  </div>
  <div class="card-body">
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio magni assumenda consequatur tenetur quis maiores dolor vero totam praesentium placeat?
    </p>

    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio magni assumenda consequatur tenetur quis maiores dolor vero totam praesentium placeat?
    </p>
  </div>
</div>