<div class="jumbotron mt-4 text-dark">
  <h1 class="display-5">
    Notes App Nodejs and MongoDB
  </h1>

  <p class="lead">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum reiciendis veritatis nisi voluptatibus, laboriosam sequi incidunt! Ipsam rem minima dolorum.
  </p>

  <hr class="my-4">

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam esse delectus iste sequi? Ipsum, tempora? Adipisci, sapiente magnam! Dicta, voluptates!
  </p>

  <a class="btn btn-success px-4" href="https://github.com/byRedHunter" target="_blank">Visita mi GitHub</a>
</div>